# Ignore case on file completion
set completion-ignore-case On
# Ignore completion on hidden files
set match-hidden-files off

# Mappings for Ctrl-left-arrow and Ctrl-right-arrow for word moving
"\e[1;5C": forward-word
"\e[1;5D": backward-word
"\e[5C": forward-word
"\e[5D": backward-word
"\e\e[C": forward-word
"\e\e[D": backward-word

"\e[1;3C": forward-word
"\e[1;3D": backward-word
"\e[3C": forward-word
"\e[3D": backward-word
"\e\e[C": forward-word
"\e\e[D": backward-word
