# Vi mode
set editing-mode vi

# Ignore case on file completion
set completion-ignore-case On
# Ignore completion on hidden files
set match-hidden-files off
# Auto-complete directory symlinks with "/"
set mark-symlinked-directories on

# Highlight matched portion (for bash 4.4)
set colored-completion-prefix On

# Immediately shows options on first Tab
set show-all-if-ambiguous On

# Allow binding of special chars (e.g.: Ctrl+w)
set bind-tty-special-chars off

# Delete full-paths with Ctrl+w
"\C-w": unix-word-rubout

# Mappings for Ctrl-left-arrow and Ctrl-right-arrow for word moving
"\e[1;5C": forward-word
"\e[1;5D": backward-word
"\e[5C": forward-word
"\e[5D": backward-word
"\e\e[C": forward-word
"\e\e[D": backward-word

"\e[1;3C": forward-word
"\e[1;3D": backward-word
"\e[3C": forward-word
"\e[3D": backward-word
"\e\e[C": forward-word
"\e\e[D": backward-word

# Disable the V key on normal mode
set keymap vi-command
v: ""
